<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Hacker News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/stories">New Stories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <p>Using the Hacker News API, create a solution that allows users to view the newest stories from the feed.</p>
  <p>Your solution must be developed using an Angular front-end app that calls a C# .NET Core back-end restful API.</p>
</div>
<router-outlet></router-outlet>
